<div class="panel panel-primary">
  <div class="panel-heading"><%= @category.name %></div>
</div>
  <div class="panel-body">
    <p> Category name: <%= @category.name %> </p>
    <p> Description: <%= @category.description %></p>

      <div>
        <% if @category.photo? %>
         <%= @category.photo %>
        <% end %>
      </div>

      <div>
        This category is currently:
          <% if @category.active = true%>
             <%= "visible" %>
          <% else %>
            <%= " not listed " %>
          <% end %>
      </div>


    <%= link_to "All Categories", categories_path, class: "btn btn-primary" %>
    <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-primary"%>
    <%= link_to "Delete Category", category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  </div>
